### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Build Tools ###
target/
build/

### Mac OS ###
.DS_Store

### Build Tools ###
target/
build/

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Logs ###
*.log

### Personal/Local overrides ###
*.swp
*.swo

### Personale ###
UninaFoodLab.iml
./src/DB/DBConnection.java
./UninaFoodLab/UninaFoodLab.iml
./.idea
.idea/workspace.xml
*.iml